<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel = "stylesheet" href = "static/css/login.css">
</head>
<body>
  <form method = "POST" action = "/">

    {% csrf_token %}
</div>
    <div class="container">
      <label for="start">Username</label>
      <input type="text" placeholder="username" size="10" class="inp" id="start" name = "name"  required autofocus/>

    </div>
    <div class="container">
      <label>Password</label>
      <input type="password" size="30vw" placeholder="password" class="inp" name = "password" required/>
    </div>

    <button type = "submit" id="search">Log In</button>
    <a href="forgot_password">forgot password</a>
  </form>
  
</div>
    <p>Don't Have an account create <a href = "/signup">here</a></p>
</form>
</body>
</html>